      * { 
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 2vh;
        color: black;
        align: left;   
      }

      p {
        color: blue;
    }
      
       h1 {
        font-size: 4vh;
        color: black;
      }
      
      h2 {
        font-size: 3vh;
        color: blue;
      }

      input {
        width: 40vh;
      }
      
      input.long {
        width: 40vh;
      }
      
      input.short {
        width: 20vh;
        font-weight: bold;
      }
      
      button {
        width: 20vh;
      }

      button.long {
        width: 100vw;
      }

      button.toggle {
        width: 50vh;
        color: blue;
        font-weight: bold;
        background-color: lightgrey;
      }

      span {
        display: inline-block;
        border: 1px solid black;
        padding: 0.5vh; 
        width: 20vh;
      }

      th, td {
           border:1px solid black;
      }
      table {
           width:100%;
           border:1px solid blue;
      }

      .logs {
       overflow-y: scroll;
       height: 50vh;
       background-color: palegreen;

      }




